[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = /Users/rubensilvarodriguez/.gitignore

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

	editor = nvim

	pager = delta
	hooksPath = /Users/rubensilvarodriguez/.githooks
[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix

[push]
	default = simple

[user]
	name = Rubén Silva
	email = me@rsenses.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAl5qSkeA+cx8OuhoTPYgPx8EGLzvtUe2CR9/drkibIl

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[alias]
  # View the log format
    lg = log --graph --abbrev-commit --decorate --pretty=format:'%C(yellow)%h%Creset %C(cyan)%ad%Creset %C(green)%an%Creset %C(auto)%d%Creset %s' --date=short --all

  # Go back to previous commit
	unstage = reset HEAD --

    co = checkout
    sw = switch
    swc = switch -c

  # View the current working tree status using the short format
    st = status -sb

	# Clone a repository including all submodules
	c = clone --recursive
[init]
	defaultBranch = main
[status]
	short = true
[pull]
	rebase = true
[rebase]
    autostash = true
[rerere]
    enabled = true
[fetch]
	prune = true
[diff]
	colorMoved = default
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
	light = true
    side-by-side = true
    syntax-theme = GitHub
[merge]
    conflictstyle = zdiff3
	tool = vimdiff
[http]
	sslVerify = true
[credential]
	helper = osxkeychain
[gpg]
	format = ssh
[commit]
	gpgsign = true
[branch]
    sort = -committerdate
[coderabbit]
	machineId = cli/7285f8f00fa2431780b6a8a4faf0bbfa
