.zcompdump
.zcompdump.*
.zsh_history
.zsh_sessions
vifminfo.json
zsh/plugins
lazy-lock.json
tmux/.config/tmux/plugins/
.aider*
.secrets
.zshvars
.DS_Store
**/.DS_Store
node_modules
**/node_modules
.worktrees
nvim-pack-lock.json
